.box{
	position: relative;
	background: rgb(213, 213, 213);
	min-height: 150px;
	margin-top: 20px ;
	border-radius: 10px;
    border: 2px solid black;
}

.item-picture{
	position: relative;
	background: white;
	min-height: 90px;
	min-width: 90px;
	margin-top: 5px ;
	border-radius: 10px;
}

.btn-img-fill {
    width: 100%;
    height: 100%;
    object-fit: fill; 
}

/* Ẩn mũi tên (Spin Buttons) trong input type="number" để đồng bộ các trình duyệt */
.form-control[type="number"]::-webkit-outer-spin-button,
.form-control[type="number"]::-webkit-inner-spin-button {
    /* Cho firefox */
    -webkit-appearance: none;
    margin: 0;
}

.form-control[type="number"]::-webkit-outer-spin-button,
.form-control[type="number"]::-webkit-inner-spin-button {
    /* Cho Chrome, Safari, Opera */
    -webkit-appearance: none;
    margin: 0; /* Quan trọng: loại bỏ margin có thể còn sót lại */
}

/* Ghi đè CSS cho thanh footer cố định */
.fixed-bottom-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1030;
}


body {
    padding-top:80px;
    padding-bottom: 70px;
}

